<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="user-card">
                <app-user-card [user]="user"></app-user-card>
            </div>
        </div>
    </div>
</div>
