<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <img class="w-100" src="{{ user.avatar }}" alt="avatar img">
        </div>
        <mat-card-title>{{ user.first_name }}</mat-card-title>
        <mat-card-subtitle>ID {{ user.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ user.avatar }}" alt="avatar img">
    <mat-card-content>
        <p>
           {{ user.email }}
        </p>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-button (click)="getUserInfo(user)" *ngIf="!isUserDetailsView()">More Info</button>
        <button mat-button (click)="backToUsersList()" *ngIf="isUserDetailsView()">Back To Users</button>
    </mat-card-actions>
</mat-card>
