<div class="container">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="filter">
                    <div class="text-container">
                        <p class="text-center">Type to filter users on ID</p>
                    </div>
                    <div class="filter-input">
                        <mat-form-field class="">
                            <mat-label>User ID</mat-label>
                            <input matInput placeholder="Ex. 15" [formControl]="usersFilterFormControl">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <mat-divider class="mt-4"></mat-divider>
    <section>
        <div class="row">
            <div class="col-12">
                <div class="text-container">
                    <p>Current Users</p>
                </div>
            </div>
            <div class="col-12">
                <div class="users-list">
                    <div class="user-item" *ngFor="let user of currentUsers;">
                        <app-user-card [user]="user"></app-user-card>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="paginator">
                    <mat-paginator
                            #pagination
                            (page)="pageChanged($event)"
                    >
                    </mat-paginator>
                    <div class="spinner">
                        <mat-spinner [diameter]="40" *ngIf="isPaginationRunning"></mat-spinner>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
