.section-text {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 200;
}

.filter {
  width: 100%;
}

.text {
  @extend .section-text
}

.text-container {
  margin-top: 30px;
  padding: 10px;
  width: 100%;

  @extend .section-text
}


.filter-input {
  width: 100%;
  mat-form-field {
    display: block;
    margin: auto;
    width: 500px;
  }
}


.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .user-item{
    display: block;
    width: 29%;
    margin: 15px;
  }
}


.paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .spinner {
    display: block;
    width: 40px;
  }
}
